body {
    font-family: "Lato",Helvetica,sans-serif;
}

.epic-projects-btn {
    width:20em;
    height:10em;
    margin-top:2em;
}

.translucent-btn {
    border-radius:1.5em;
    border-width:4px;
    border-style:solid;
    border-color:red;
    font-weight:bolder;
    background-color:rgba(77,77,77,.5);
}

.projects-btn-label {
    display:inline-block;
    margin: 1em;
    font-weight: bold;
}

.translucent-btn:hover {
    border-color:black;
    background-color:rgba(77,77,77,.25);
}

.epic-project {
    width: 50%;
    height:40%;
    background-color: rgb(209, 209, 206);
    top: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10em;
    position: fixed;
    z-index: 50;
    
}

.epic-project img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.bottom-banner {
    position: relative;
    width:100%;
    height:2em;
    margin-top: 25px;
    bottom-margin:1em;
    background-color:white;
    z-index:51;
    text-align:center;
    font-weight:bold;
}

.darkClass 
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}

.closex
{
    margin:1em;
}

.active 
{
    z-index: 100;
}

.social-medias
{
    margin: 5em auto;
    height: 5em;
    text-align: center;

}

.social-media-img
{
    height: inherit;
}