
<div id="darkLayer" class="darkClass" ng-show="modalOpen"></div>


<div class="container" id="one-hunna">
  <div class="translucent-btn epic-projects-btn pull-right" ng-click="openModal()" ng-hide="modalOpen">
    <i class="fa fa-bars fa-2x"></i><h3 class="projects-btn-label">| EPIC PROJECTS</h3>
</div>
</div>

<div class="social-medias" ng-show="modalOpen">
    <img class="social-media-img" src="../images/mail-small.png">
    <img class="social-media-img" src="../images/facebook-small.png">
    <img class="social-media-img" src="../images/instagram-small.png">
    <img class="social-media-img" src="../images/twitter-small.png">
</div>


<div ng-repeat="project in projects" class="epic-project active" ng-show="modalOpen">
    <div class="close closex" ng-click="$parent.closeModal()">
        <i class="fa fa-times fa-2x"></i>
    </div>
    <div class="bottom-banner">NUVC</div>
</div>
